.textarea {
    height: 100vh;
    width: 100%;
}
.graph {
    padding: 15vh
}
.ui.card {
    margin: 1em 0;
    width: 28vh;
    padding: 2vh;
    margin-bottom: 3vh;
}
.process {
    padding:2vh;
    background: aliceblue;
}
 .bargraph {
    margin-top: 10vh ;
    box-shadow: 0px 2px 6px;
    margin-bottom: 6vh;
    background: aliceblue;
}
 .container {
    width:100%;
    /* height:50vh; */
} 
.cont-style{
    position: relative;
    overflow: hidden;
}
.code-container{
    position: absolute;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 150px;
}
.code-container::-webkit-scrollbar {
    display: none;
  }
.data, .cont-style {
    width: 85vw;
    height: 70vh;
}

.ui.primary.button, .ui.primary.buttons .button  {
    margin:4vh;
}

@media screen and (min-width: 320px){
    .ui.tabular.menu+.attached:not(.top).segment, .ui.tabular.menu+.attached:not(.top).segment+.attached:not(.top).segment {
        width: 98vw;
        overflow: scroll;
        height: 65vh;
    }
}

@media screen and (min-width: 425px)
{
    .data, .cont-style {
        width: 79vw;
        height: 70vh;
        left: 3vh;
    }
    /* .ui.tabular.menu+.attached:not(.top).segment, .ui.tabular.menu+.attached:not(.top).segment+.attached:not(.top).segment {
        width: 98vw;
        overflow: scroll;
        height: 60vh;
    } */
}

@media screen and (min-width: 650px)
{
    .data, .cont-style {
        width: 82vw;
        height: 70vh;
        left: 3vh;
    }
 
}
@media screen and (min-width: 1024px){
    .ui.tabular.menu+.attached:not(.top).segment, .ui.tabular.menu+.attached:not(.top).segment+.attached:not(.top).segment {
        height: 100%;
    }
}

