.textarea {
    height: 100vh;
    width: 100%;
}
.graph {
    padding: 15vh
}
.ui.card {
    margin: 1em 0;
    width: 28vh;
    padding: 2vh;
    margin-bottom: 3vh;
}
.process {
    padding:2vh;
    background: aliceblue;
}
 .bargraph {
    margin-top: 10vh ;
    box-shadow: 0px 2px 6px;
}
.container {
    width:100%;
    /* height:50vh; */
}
.cont-style{
    position: relative;
    overflow: hidden;
}
.code-container{
    position: absolute;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 150px;
}
.code-container::-webkit-scrollbar {
    display: none;
  }
.data, .cont-style {
    width: 200vh;
    height: 70vh;
}

.ui.primary.button, .ui.primary.buttons .button  {
    margin:4vh;
}
@media screen and (min-width: 320px) and (max-height: 541px)
{
    .data, .cont-style {
        width: 52vh;
        height: 70vh;
        left: 3vh;
    }
}
@media screen and (min-width: 375px) and (max-height: 541px) 
{
    .data, .cont-style {
        width: 57vh;
        height: 70vh;
        left: 3vh;
    }
}

@media screen and (min-width: 425px) and (max-height: 541px)
{
    .data, .cont-style {
        width: 105vh;
        height: 70vh;
        left: 3vh;
    }
}
@media screen and (min-height: 542px){
    .data, .cont-style {
        width: 105vh;
        height: 70vh;
        left: 3vh;
    }
}
@media screen and (min-width: 768px) and (max-height: 541px)
{
    .data, .cont-style {
        width: 180vh;
        height: 70vh;
        left: 3vh;
    }
}